################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


*.pdb
*.suo

*.cache
Debug
X64_debug
X64_release

Release
*.user
*.exp

*.filters
*.ipch
*.db
*.opendb
